<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#60a5fa">
  <meta name="description" content="dads">
  <link rel="icon" href="./favicon3.png">
  <link rel="apple-touch-icon" href="/icons/192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <title>Indonesian Resto</title>
  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
<a href="#content" class="skip-link">Jump to Content</a>
<header class="app-bar">
  <nav class="navbar">
    <a href="/" class="navbar-logo">Indonesian <span id="restos">Resto</span></a>
    <div class="menu">
      <a href="#" id="menu-lainnya">
        <i data-feather="menu"></i>
      </a>
    </div>
    <div class="navbar-nav" id="navigationDrawer">
      <a href="/">
        Home
      </a>
      <a href="#/favorite">Favorite</a>
      <a target="_blank" href="https://www.linkedin.com/in/akhmad-nurhadi-7615b5244/" rel="noopener">About Us</a>
    </div>
    
  </nav>
</header>
<!-- end navbar -->

  <!-- hero setion -->
  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Indonesian Resto</h1>
      <p class="hero_tag">Restoran Indonesia yang menggelora</p>
    </div>
  </div>

  <div class="explore">

  </div>
  <!-- end hero -->


  <!-- tes button -->

<!-- main contain-->
<main class="content" id="content" tabindex="0">
  
</main>
<!-- end main contain -->

  <!-- footer -->

  <footer-create></footer-create>
  <!-- end footer -->
  <script>
    feather.replace()
  </script>
</body>
</html>
